apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: multicluster-controlplane
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/red-hat-acm-tenant/multicluster-controlplane/multicluster-controlplane@sha256:352ac2e21f64abd923908df9d62250558bb21d3d0c2099928663e921a26ce57a
        name: container-image
        resources: {}
status: {}
