apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: multicluster-controlplane
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: multicluster-controlplane
    app.kubernetes.io/part-of: multicluster-controlplane
  name: multicluster-controlplane
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: multicluster-controlplane
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: multicluster-controlplane
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/red-hat-acm-tenant/multicluster-controlplane/multicluster-controlplane@sha256:1074991ee6a449162d1b5252a686e83a680c808d9c5d3e13f29bdc7ad09b3a19
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
